@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Rajdhani:wght@500&family=Roboto:wght@100;300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.img-logo{
    height: 61px;
    width: 142px;
    display: block;
    background: url(imagens/logoBs.jpeg) no-repeat;
    background-size: contain;
    margin: 20px;
}

header{
    background: #101020;
    font-size: 20px;
}

main{
    height: 80%;
   
}

.nav.item{
    list-style:none;
    
}

.nav-link{
    color: #fff;
    text-decoration: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    padding: 0 50px;
    margin-bottom: 0;
}

.logo{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2px;
}

.nav-menu{
    display:flex;
    align-items: center;
    gap: 100px;
    margin-bottom: 2px;
    text-decoration: none;
    list-style: none;
}


.nav-link{
    transition: 0.5s ease;
}

.nav-link:hover{
    color: #0088d2;
}

.fonteP{
    font-size: 35px;
    font-weight: bold;
    margin: 40px 0 20px;
}

.fontsmall{
    font-size: 22px;
}

.img-cent{
    margin: 25px;
}

.test{
    background: #101020;
}

.space{
    margin-left: 400px;   
    
}

.space li{
    list-style: none;
    text-decoration: none;
    font-size: 18px;
}

.backg{
    background: #fef8f1;
}

.centplano{
    text-align: center;
}

.more{
    font-size: 20px;
    padding: 20px;
}
.imgfoo{
    height: 60px;
    width: 142px;
    display:flex;
    background: url(imagens/logoBs.jpeg) no-repeat;
    background-size: contain;
    margin-top: 20px;
}

.newmensage{
    align-items: center;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 50vh;
    justify-content: center;
}
form {
    align-items: center;
    background: #013232;
    border-radius: 5px;
    box-shadow: 0 1px 2px #ccc;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 10px;
    padding: 20px;
}
form h1{
    color: #fff;

}

input, textarea, button{
    background-color: #f7f7f7;
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 18px;
    outline: none;
    padding: 15px;
    width: 35%;

}

button{    
    cursor: pointer;
    font-weight: bold;
    border-radius: 20px;
}

.formulario{
    width: 360px;
    margin: 0 auto;
}
.backform{
    background: #fef8f1;
}

footer{
    background: #101020;
    color: #fff;
    padding: 25px;
    
    
}
footer p {
    text-align: center;    
    margin-top: 40px;
    text-align: justify;
   
}

.footlogo{
    text-align: center;
    
}

.hidden {
    opacity: 0;
    filter: blur(15px);
    transition: all 2s;
    
}

.show {   
    opacity: 1;
    filter: blur(0);
    transition: all 2s;   
   
}

#footcopyright{
display: flex;
justify-content: center;
background-color: var(--color-neutral-0);
font-size: 1.1rem;
padding: 1.5rem;
font-weight: 100%;
}

